<!-- header.ejs -->
<%- include('header') -%>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/styleuser.css">
<body>
  
    <div class="container">
       
        <div class="table-responsive">
            <div class="table-wrapper">			
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="show-entries">
                                <span>Show</span>
                                <select>
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                                <span>entries</span>
                            </div>						
                        </div>
                        <div class="col-xs-4">
                            <h2 class="text-center">User <b>Details</b></h2>
                        </div>
                        <div class="col-xs-4">
                            <div class="search-box">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                    <input type="text" class="form-control" placeholder="Search&hellip;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Firstname <i class="fa fa-sort"></i></th>
                            <th>Lastname <i class="fa fa-sort"></i></th>
                            <th>Email</th>
                            <th>Gender <i class="fa fa-sort"></i></th>
                            <!-- <th>Pin Code</th> -->
                            <th>Status <i class="fa fa-sort"></i></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="search">
                      <% for (var i = 0; i < users.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= users[i].firstName %></td>
                            <td><%= users[i].lastName %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].gender %></td>
                            <td>active</td>
                            <!-- <td>USA</td> -->
                            <td>
                                <!-- <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a> -->
                                <a href="/update?id=<%= users[i]._id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                               
                                <a data-id="<%= users[i]._id %>" class="delete btn" title="Delete" ><i class="material-icons">&#xE872</i></a>
                            </td>
                        </tr>
                      <% } %>   
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
                <a type="button" href="/register" class="btn btn-primary">New User</a>
            </div>
        </div>
    </div>
</body>
<script src="/js/update.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".form-control").on("keyup",function(){
            var value = $(this).val().toLowerCase(); // Use toLowerCase() here
            $("#search tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1); // Use toLowerCase() here
            });
        });
    });
</script>

<!-- footer.ejs -->
<%- include('footer') -%>
